body {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(https://wallpapers.com/images/high/epic-pokemon-adventure-in-the-wild-yf5odhgkds0n53yl.webp);
    background-size: cover;
    margin: 0;
    padding: 10px;
}

#btnAccueil {
    width: 150px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    margin-bottom: 5rem;
    -webkit-filter: drop-shadow(10px 10px 10px #000000);
    filter: drop-shadow(10px 10px 10px #000000);
}

#btnAccueil:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

#btnAccueil:active {
    color: #000
}

#btnAccueil:active:after {
    background: transparent;
}

#btnAccueil:hover:before {
    opacity: 1;
}

#btnAccueil:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #05011a;
    left: 0px;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}

.searchbox {
    width: 100%;
    height: 80px;
    justify-self: center;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    transition: 0.8s;
    -webkit-filter: drop-shadow(10px 10px 10px #000000);
    filter: drop-shadow(10px 10px 10px #000000);
}

.searchbox input {
    border: 0;
    outline: none;
    height: 36px;
    padding: 4px 16px;
    background-color: rgba(255, 255, 255, 0.6);
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-right: 1px solid #ccc;
    color: #000;
}

.searchbox button {
    border: 0;
    height: 44px;
    padding: 4px 16px;
    background-color: white;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    cursor: pointer;
}

.searchbox #search {
    color: rgb(0, 0, 0);
}

@keyframes hoverShake {
    0% {
        transform: skew(0deg, 0deg);
    }

    25% {
        transform: skew(3deg, 3deg);
    }

    75% {
        transform: skew(-3deg, -3deg);
    }

    100% {
        transform: skew(0deg, 0deg);
    }
}

.searchbox:hover {
    animation: hoverShake 0.15s linear 3;
}

a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

#logo {
    margin-top: 1rem;
    width: 15rem;
    height: auto;
    -webkit-filter: drop-shadow(10px 10px 10px #000000);
    filter: drop-shadow(10px 10px 10px #000000);
}

#logo:hover {
    /* Start the shake animation and make the animation last for 0.5 seconds */
    animation: shake 0.5s;

    /* When the animation is finished, start again */
    animation-iteration-count: infinite;
}

@keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }

    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }

    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }

    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }

    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }

    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }

    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }

    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }

    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }

    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }

    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}

#imagepokemon {
    height: 50vh;
    cursor: crosshair;
    filter: blur(12px) saturate(0);
    margin-top: -5vh;
}

#win {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #f2dede;
    border: 1px solid #ebccd1;
    border-radius: 4px;
    text-align: center;
}

#loose {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #f2dede;
    border: 1px solid #ebccd1;
    border-radius: 4px;
    text-align: center;
}

#score {
    display: flex;
    align-items: center;
    padding: 1px;
    color: rgb(255, 213, 0);
    margin-bottom: 5vh;
    margin-top: -2vh;
    font-family: 'Pokemon Solid', sans-serif;
    text-shadow: 0.2em 0.2em #333;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgba(0, 89, 255, 0.875);
}

#score:hover {
    /* Start the shake animation and make the animation last for 0.5 seconds */
    animation: shake 0.5s;

    /* When the animation is finished, start again */
    animation-iteration-count: infinite;
}

@keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }

    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }

    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }

    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }

    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }

    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }

    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }

    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }

    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }

    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }

    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}

#reponse {
    opacity: 0;
    margin-top: -7vh;
}

/* Dark mode */
@media (prefers-color-scheme: dark) {	
    body {
      height: 100vh;
      width: 100vw;
      background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/2fb2821a-1406-4a1d-9b04-6668f278e944/de2soon-f223cb2a-080c-474c-935d-9722f5523503.jpg/v1/fill/w_1192,h_670,q_70,strp/pokemon_swsh___wild_area__night__by_phoenixoflight92_de2soon-pre.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NzIwIiwicGF0aCI6IlwvZlwvMmZiMjgyMWEtMTQwNi00YTFkLTliMDQtNjY2OGYyNzhlOTQ0XC9kZTJzb29uLWYyMjNjYjJhLTA4MGMtNDc0Yy05MzVkLTk3MjJmNTUyMzUwMy5qcGciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.KlPXKOkE_Nz7FwCnPQTbBAQ107h-vyUyzVo9b57uu5A);
      background-size: cover;
      margin: 0; /* Add this to remove default body margin */
      padding: 0; /* Add this to remove default body padding */
      color: #fff;
    }
  
      :root {
          --bg: #17181c;
          --fg: #e3e4e8;
          --input: #2e3138;
          --primary: #5583f6;
      }
}