* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-image: url('https://www.pokepedia.fr/images/thumb/9/90/Route_1_EB.png/1200px-Route_1_EB.png');
  background-size: cover;
}

.search-bar {
  width: 80%;
  margin-top: 1rem;
  display: flex;
  align-items: center;
  -webkit-filter: drop-shadow(10px 10px 10px #222);
  filter: drop-shadow(10px 10px 10px #222);
}

.search-bar:hover {
  animation: shake 0.3s;
  animation-iteration-count:1;
}

@keyframes shake {
  0% {
      transform: translate(1px, 1px) rotate(0deg);
  }

  10% {
      transform: translate(-1px, -2px) rotate(-1deg);
  }

  20% {
      transform: translate(-3px, 0px) rotate(1deg);
  }

  30% {
      transform: translate(3px, 2px) rotate(0deg);
  }

  40% {
      transform: translate(1px, -1px) rotate(1deg);
  }

  50% {
      transform: translate(-1px, 2px) rotate(-1deg);
  }

  60% {
      transform: translate(-3px, 1px) rotate(0deg);
  }

  70% {
      transform: translate(3px, 1px) rotate(-1deg);
  }

  80% {
      transform: translate(-1px, -1px) rotate(1deg);
  }

  90% {
      transform: translate(1px, 2px) rotate(0deg);
  }

  100% {
      transform: translate(1px, -2px) rotate(-1deg);
  }
}

.search-bar input {
  border: 0;
  outline: none;
  height: 36px;
  padding: 4px 16px;
  background-color: rgba(255, 255, 255, 0.6);
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border-right: 1px solid #ccc;
  color: #000;
}

.search-bar button {
  border: 0;
  height: 44px;
  width: 160px;
  padding: 4px 16px;
  background-color: white;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  cursor: pointer;
  margin-right: -5rem;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

main {
  width: 80%;
  margin: 0 auto;
  margin-top: 2rem;
}

#logo {
  margin-top: 1rem;
  width: 15rem;
  height: auto;
  -webkit-filter: drop-shadow(10px 10px 10px #222);
  filter: drop-shadow(10px 10px 10px #222);
}

#logo:hover {
  /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake 0.5s;

  /* When the animation is finished, start again */
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% {
      transform: translate(1px, 1px) rotate(0deg);
  }

  10% {
      transform: translate(-1px, -2px) rotate(-1deg);
  }

  20% {
      transform: translate(-3px, 0px) rotate(1deg);
  }

  30% {
      transform: translate(3px, 2px) rotate(0deg);
  }

  40% {
      transform: translate(1px, -1px) rotate(1deg);
  }

  50% {
      transform: translate(-1px, 2px) rotate(-1deg);
  }

  60% {
      transform: translate(-3px, 1px) rotate(0deg);
  }

  70% {
      transform: translate(3px, 1px) rotate(-1deg);
  }

  80% {
      transform: translate(-1px, -1px) rotate(1deg);
  }

  90% {
      transform: translate(1px, 2px) rotate(0deg);
  }

  100% {
      transform: translate(1px, -2px) rotate(-1deg);
  }
}

.pokemonCardContainer {
  margin-top: 2rem;
}

.pokemonCard {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  flex-direction: column;
  border-radius: 8px;
  width: 250px;
  height: 100px;
  margin-top: 16rem;
  -webkit-filter: drop-shadow(10px 10px 10px #000000);
  filter: drop-shadow(10px 10px 10px #000000);
}

#rickRollImage {
  width: 90vw;
  max-width: 500px;
  display: none;
  margin-bottom: 9rem;
}

#imagepokemon {
  display: flex;
  position: absolute;
  bottom: 120%;
  width: auto;
  height: 14vh;
  top: -238%;
  left: 50%;
  transform: translateX(-50%);
}

.pokemonBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}

.pokemonBox img {
  width: 200px;
  margin-top: 1rem;
}

.pokemonBox p {
  margin-top: 1rem;
}

#namepokemon,
#weight,
#height {
  position: relative;
  font-size: 1.20rem;
  font-style: italic;
  z-index: 1;
  display: inline-block;
  background-color: #EAEAC3;
  --webkit-background-clip: text;
  color: transparent;
}

#namepokemon {
  top: -21vh;
  left: -31%;
}

#weight {
  top: -16.0vh;
  left: 8.8%;
}

#height {
  top: -32.8vh;
  left: 32.3%;
}

#Number {
  position: relative;
  top: -43.2vh;
  left: 38%;
  font-size: 1.20rem;
  font-style: italic;
  z-index: 1;
  color: #EAEAC3;
}

#type {
  position: relative;
  top: -55.2vh;
  left: -17%;
  z-index: 1;
  transform: scale(0.30);
}

#energy {
  display: flex;
  position: absolute;
  bottom: 120%;
  width: auto;
  height: 22vh;
  top: -145%;
  transform: translateX(-50%);
  transform: scale(0.30);
}

#btnAccueil {
  width: 150px;
  height: 50px;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  margin-top: 3rem;
  -webkit-filter: drop-shadow(10px 10px 10px #000000);
  filter: drop-shadow(10px 10px 10px #000000);
}

#btnAccueil:before {
  content: '';
  background: linear-gradient(15deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .4s ease-in-out;
  border-radius: 10px;
}

#btnAccueil:active {
  color: #000
}

#btnAccueil:active:after {
  background: transparent;
}

#btnAccueil:hover:before {
  opacity: 1;
}

#btnAccueil:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #05011a;
  left: 0px;
  top: 0;
  border-radius: 10px;
}